<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Sample</display-name>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>spath</param-name>
        <param-value>C:\proj\SentimentalAnalasys\web\images</param-value>
    </context-param>
    <servlet>
        <servlet-name>lcs</servlet-name>
        <servlet-class>info.mining.LoginCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suds</servlet-name>
        <servlet-class>info.mining.StoreUserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prs</servlet-name>
        <servlet-class>info.mining.ProductRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>id</servlet-name>
        <servlet-class>info.mining.RetriveProductIndividualDetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>info.mining.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prs</servlet-name>
        <url-pattern>/prs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>scs</servlet-name>
        <servlet-class>info.mining.StoreCommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>info.mining.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scs</servlet-name>
        <url-pattern>/scs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>clcs</servlet-name>
        <servlet-class>info.mining.CommentLoginCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clcs</servlet-name>
        <url-pattern>/clcs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rpds</servlet-name>
        <servlet-class>info.mining.RetriveProductDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rpds</servlet-name>
        <url-pattern>/rpds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suds</servlet-name>
        <url-pattern>/suds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lcs</servlet-name>
        <url-pattern>/lcs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>id</servlet-name>
        <url-pattern>/id</url-pattern>
    </servlet-mapping>
</web-app>
